/*----- Custom Css --------*/

/* ---- Header ------*/

.logo img { width:100%; max-width: 100px; }
.status-message {
  padding: 10px 16px;
  font-size: 16px;
  background: green;
  color: #fff;
}
.container {
    max-width: 100%;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.69, 0.01, 0.23, 0.98) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1084FF;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes lds-roller {
  0% {transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes lds-roller {
  0% {transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}



form .locationfield {justify-content: flex-end;}

/*---- Calander --------*/

.calanderWrapper { max-width: 1200px; margin: 0 auto; padding:50px; }

body{ overflow-y: visible !Important; }

.calanderWrapper .popover {
  color: #000;
  top: auto;
  bottom: 11px;
  display: none;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.4rem;
  width:250px;
  z-index: 99999;
  transition: all .3s ease-in-out;
}

.calanderWrapper button#addEvent {  margin-top: 15px; }

.calanderWrapper .fc-scroller { overflow: visible !important;   }

.calanderWrapper .fc-day-grid-event .fc-content { overflow: visible; }

.calanderWrapper .fc-day-grid-event .fc-content:hover .popover {  display: block;  }
.calanderWrapper .fc-day-grid-event .fc-content {    white-space: pre-wrap; }
.calanderWrapper .popover .popover-footer {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #EBEBEB;
  border-radius: 5px 5px 0 0;
}

/*.fc-day-grid-event .fc-content { white-space: pre-wrap; } */

.fc-day-grid-event .fc-content .fc-title { color:#fff; }
.calanderWrapper .fc-other-month {  background: #f7f7f7;  }
.calanderWrapper .popover-footer .preview-elements {  display: inline-block; }
.calanderWrapper .popover:after {
  position: absolute;
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f5f5f5;
  content: '';
}

.calanderWrapper .popover.top {
  top: 17px;
  bottom: auto;
}

.calanderWrapper .popover.left {
 right: 0;
 left: auto;
}

.calanderWrapper .popover.left:after { right: 0; }

.calanderWrapper .popover.top:after {
  top: -8px;
  border-bottom: 10px solid #f5f5f5;
  border-top: 0px solid #f5f5f5;
  content: '';
}

.calanderWrapper .popover .popover-footer .link {
  display: inline-block;
  align-items: center;
  margin: 2px;
  min-width: 15px;
  padding: 2px;
  text-decoration: none;
}

#calendar .fc-row .fc-content-skeleton, #calendar .fc-row .fc-bg,
#calendar .fc-event .fc-content,
#calendar .fc-day-grid .fc-row, #calendar .fc-view, .fc-view > table ,
#calendar .fc-day-grid .fc-row { z-index: unset; }


.form-control.is-invalid ~ .invalid-feedback {position: absolute; bottom: -20px;}

.dataTables_wrapper .dataTables_processing {
  padding-top: 10px;
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(0,0,0,0)),color-stop(25%,rgba(0,0,0,0.9)),color-stop(75%,rgba(0,0,0,0.9)),color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left,rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 25%,rgba(0,0,0,0.9) 75%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left,rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 25%,rgba(0,0,0,0.9) 75%,rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),color-stop(25%,rgba(0,0,0,0.9)),color-stop(75%,rgba(0,0,0,0.9)),to(rgba(0,0,0,0)));
  background: linear-gradient(to right,rgba(0,0,0,0) 0%,rgb(64, 150, 243) 25%,rgb(64, 150, 243) 75%,rgba(0,0,0,0) 100%);
  color: #fff;
}


a.quickbtn img {
    width: 100%;
}
a.quickbtn {
  max-width: 300px;
  height: 60px;
  width: 100%;
  display: inline-block;
}

.quickReports { background: #fff; }

.quickReports tr, .quickReports td, .quickReports th {
    border: 1px solid #5a5e69;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    margin-top: 50px;
}

.loader img {
    max-width: 150px;
}

.modal-header {
  background-color: #448aff;
  color:#fff;
}


.onboarding .wizard-wrap {
    display: flex;
    width: 100%;
}

.onboarding ul.tablist li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 20px 10px;
}

.onboarding  ul.tablist li {
    background: #2d323e;
    margin-bottom: 5px;
    border-radius: 5px;
}

.onboarding  ul.tablist {
    padding: 0;
    list-style: none;
    width: 30%;
}

.onboarding .wizard-blocks {
    width: 70%;
    padding-left: 50px;
}

.onboarding ul.tablist li.success {
    background-color: #15c315;
}

.onboarding .progress-bar {  background-color: #474c57; }

.onboarding .tab.active {
    background-color: #10a014;
}

fieldset{ display: none; }
fieldset.active { display: block; }


 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.select2-container--default .select2-selection--single{background-color:#3be2ac; border:0; border-radius:0;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color:#fff;}

.marquee-box.border-bottom {
    border-bottom: 1px solid #a2a2a2 !important;
}
